# WELCOME TO 2-DAYS PYTHON WORKSHOP

# My First Program

In [157]:
print('hello world')

hello world

# Comments in Python

In [158]:
3+4

7

In [7]:
# 3+4

10

# Keywords in Python

In [6]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Variables in Python

Variable is a container where you can put your values. 
It may be numeric data, text data etc.

In [3]:
print(2+3)

5

In [4]:
x = 2   # storing this value 2 in a variable called as x
print(x)

2

In [5]:
print(x+3)

5

In [6]:
print(x+10)

12

In [164]:
rent = 1220
gas = 202.5
groceries = 305.6

In [165]:
print(rent)

1220

In [166]:
total = rent + gas + groceries
print(total)

1728.1

# Strings

A string is a sequence of characters that are enclosed within single quotes and double quotes.

Immutable: string value cannot be updated

Syntax:   stringName = "string"              
or
stringName = "string"

In [9]:
text = "ice cream"
print(text)

ice cream

In [18]:
print(text*3)

ice creamice creamice cream

Concatenate

In [20]:
print("I love "+ text)

I love ice cream

In [21]:
a = 2
a

2

In [22]:
print(a+2)

4

Accessing Elements

In [168]:
text[0]

'i'

In [169]:
text[1]

'c'

In [170]:
text[3]

' '

In [171]:
# text[0] = 'g'

In [172]:
# text = "hello"
text = 'hello'
text = "let's learn python"

In [173]:
Name = '''My name 
is 
Prajwal 
'''
print(Name)

My name
is
Prajwal

In [23]:
s1 = "hello"
s2 = "world"
print(s1+s2)

helloworld

In [24]:
print(s1+' '+s2)

hello world

In [176]:
# Python doesnt know how to join string with an integer 
# We need to convert this number to string.

# s = "total number of states in USA "
# num = 25
# s+num

In [177]:
str(num)

'25'

In [178]:
s = "total number of states in USA is "
num = 25
str(num)
s+str(num)

'total number of states in USA is 25'

Upper : Converts all the characters of a string to uppercase. 

Syntax: stringName.upper()

In [25]:
welcomeMessage =" Welcome to this introduction course on python programming.Hope you are having a good time learning"

In [26]:
print(welcomeMessage)

 Welcome to this introduction course on python programming.Hope you are having a good time learning

In [27]:
welcomeMessage.upper()

' WELCOME TO THIS INTRODUCTION COURSE ON PYTHON PROGRAMMING.HOPE YOU ARE HAVING A GOOD TIME LEARNING'

Lower: Converts all the characters of a string to lowercase.

Syntax: stringName.lower()

In [28]:
welcomeMessage.lower()

' welcome to this introduction course on python programming.hope you are having a good time learning'

Replace: Replaces the specified sequence of characters in first parameter with that of second parameter.

Syntax: stringName.replace("sequence to be replaced", "sequence to replace")

In [29]:
welcomeMessage.replace("learning", "experimeting")

' Welcome to this introduction course on python programming.Hope you are having a good time experimeting'

In [30]:
welcomeMessage.replace("python", "C")

' Welcome to this introduction course on C programming.Hope you are having a good time learning'

Slicing: Returns a slice of the string based on the indices passed.

Syntax: stringName [startingindex : endingindex]

In [31]:
welcomeMessage[0:7]

' Welcom'

In [32]:
welcomeMessage[0:8]

' Welcome'

In [33]:
# If starting index is not mentioned, characters starting from 0 to " endingIndex-1" will be printed.

welcomeMessage[:58]

' Welcome to this introduction course on python programming'

In [34]:
# If the index is not mentioned, characters starting from 0 startingIndex to end of the string
#will be printed

welcomeMessage[59:]

'Hope you are having a good time learning'

In [39]:
welcomeMessage[-12:]

'ime learning'

In [40]:
# If both starting and ending index are not mentioned, the whole string will be printed

welcomeMessage[:]

' Welcome to this introduction course on python programming.Hope you are having a good time learning'

Length : Returns length of a string.

Syntax: len(string)

In [190]:
len(welcomeMessage)

99

# LIST

A list is a container that holds many objects under a single name.

Mutable

listName = ['object1, object2, object3]

In [191]:
bestFriends = ['Mark', 'Merry', 'Maria', 'John']
print(bestFriends)

['Mark', 'Merry', 'Maria', 'John']

Accessing values in a list

In [192]:
bestFriends[0]

'Mark'

In [193]:
bestFriends[2]

'Maria'

APPEND: Append operation is used to add a new element to end of the list.

            Syntax: list.append(element)

In [194]:
bestFriends.append('Fabin')

In [195]:
print(bestFriends)

['Mark', 'Merry', 'Maria', 'John', 'Fabin']

INSERT: Insert operation is used to add a new element at a specified index and shift the other element to the right.

    Syntax: list.insert(1,"Ben")

In [196]:
bestFriends.insert(1,"Ben")
print(bestFriends)

['Mark', 'Ben', 'Merry', 'Maria', 'John', 'Fabin']

REMOVE: Remove operation is used to remove an element from list.

Syntax: list.remove(element)

In [197]:
bestFriends.remove('Merry')
print(bestFriends)

['Mark', 'Ben', 'Maria', 'John', 'Fabin']

SORT : Sort operation is used to sort a given list in ascending order

Syntax: list.sort()

In [198]:
bestFriends.sort()
print(bestFriends)

['Ben', 'Fabin', 'John', 'Maria', 'Mark']

REVERSE: Reverse operation is used to reverse a list

Syntax: list.reverse()

In [199]:
bestFriends.reverse()
print(bestFriends)

['Mark', 'Maria', 'John', 'Fabin', 'Ben']

POP: Pop opeartion is used to return a element at the specified index and remove it from the list.

Syntax: list.pop(index)

In [200]:
bestFriends.pop(2)
print(bestFriends)

['Mark', 'Maria', 'Fabin', 'Ben']

# TUPLES

A tuple is a container that hold many objects under a single name.

Immutable: (a tuple once defined cannot be modified)

Syntax: tupleName = (object1, object2, object3)

Acessing values in Tuples

In [201]:
dateOfBirth = ("01-01-1990", "31-12-2016", "05-07-2021",)
print(dateOfBirth)

('01-01-1990', '31-12-2016', '05-07-2021')

In [202]:
dateOfBirth[1]

'31-12-2016'

In [203]:
dateOfBirth = dateOfBirth +(7,)
dateOfBirth

('01-01-1990', '31-12-2016', '05-07-2021', 7)

In [204]:
print((1,2,5,8) + (2,9,4))

(1, 2, 5, 8, 2, 9, 4)

Deleting: using del keyword

Syntax: del(tupleName)

In [205]:
del(dateOfBirth)

In [206]:
print(dateOfBirth )      # it deletes a tuple dateOfBirth and can no longer be accessed.

NameError: name 'dateOfBirth' is not defined

Slicing

In [207]:
t =(1,2,3,4,5)
print(t[2:4])

(3, 4)

In [208]:
t=(2*5)
print(t)

10

in Keyword

In [209]:
t=(1,2,3,6,7,8)
2 in t

True

In [210]:
5 in t

False

length: len()

In [211]:
t =(1,2,3)
len(t)

3

# Convert Tuple to List

In [212]:
# initialize tuple
Tuple = (1, 4 , 7 , "prajwal", 'tiger')

#Tuple to list
List = list(Tuple)

#print list

print(type(List))
print(List)

<class 'list'>
[1, 4, 7, 'prajwal', 'tiger']

# Dictionary

A dictionary is a set of key-value pairs referenced by a single name.

dictionaryName = {"keyOne" : "valueOne", "keyTwo" : "valuetwo"}

In [213]:
colorOfFruits = {"apple": "red", "orange": "orange", "mango": "yellow","grapes": "green" }
print(colorOfFruits)

{'apple': 'red', 'orange': 'orange', 'mango': 'yellow', 'grapes': 'green'}

Retrieve values from a dictionary

In [214]:
colorOfFruits["mango"]

'yellow'

UPDATE A VALUE: A value can be reassigned by making use of a key corresponding to that value.

Syntax:  dictionaryName["key"] = "New Value"

In [215]:
colorOfFruits["apple"] = "green"

In [216]:
print(colorOfFruits)

{'apple': 'green', 'orange': 'orange', 'mango': 'yellow', 'grapes': 'green'}

List all Keys: keys() is used to list all the keys in the dictionary.

Syntax : dictionaryName.keys()

In [217]:
colorOfFruits.keys()

dict_keys(['apple', 'orange', 'mango', 'grapes'])

List all values

In [218]:
colorOfFruits.values()

dict_values(['green', 'orange', 'yellow', 'green'])

Delete a Key-Value Pair: del keyword is used.

Syntax: del dictionaryName["key"]

In [219]:
del colorOfFruits["grapes"]

In [220]:
print(colorOfFruits)

{'apple': 'green', 'orange': 'orange', 'mango': 'yellow'}

Copy a Dictionary into another : copy() is used to copy a content of one dictionary to another.

Syntax: dictionaryTwo = dictionaryOne.copy()

In [221]:
copyOfColorOfFruits =colorOfFruits.copy()

In [222]:
print(copyOfColorOfFruits)

{'apple': 'green', 'orange': 'orange', 'mango': 'yellow'}

Clear a Dictionary : clear() is used

In [223]:
colorOfFruits.clear()

In [224]:
print(colorOfFruits)

{}

In [225]:
copyOfColorOfFruits

{'apple': 'green', 'orange': 'orange', 'mango': 'yellow'}

In [226]:
copyOfColorOfFruits.clear()

In [227]:
print(copyOfColorOfFruits)

{}

# ADDITION

In [ ]:
a = input("Enter First Number:")
b = input('Enter Second Number:')

In [8]:
# squareroot

import math
print(math.sqrt(9))

3.0

In [9]:
num =9
num_sqrt = num**0.5
num_sqrt

3.0

Find area of triangle

In [12]:
a = float(input("Enter first side of a triangle: "))
b = float(input("Enter second side of a triangle: "))
c = float(input("Enter third side of a triangle: "))

# calculate the semi-perimeter
s= (a+b+c)/2
print(s)

# calculate the area
area = (s*(s-a)*(s-b)*(s-c))**0.5
print(area)

Enter first side of a triangle: 2
Enter second side of a triangle: 5
Enter third side of a triangle: 4
5.5
3.799671038392666

In [14]:
num =12

for i in range(1,11):
    print(num, 'X', i, "=", num*i)

12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

# File Handling

working with file programmatically using python

In [2]:
# create a file pointer

f = open('firstFile.txt')

In [3]:
# Read the contents of the file and print the content of the file

content = f.read()
# print(content)

this is my first file which i will be using in python course.

In [4]:
# Closing file

f.close()

Modes of opening a file

1. read mode --> 'r'  : read the content of the file

2. Write mode -->  'w'  : clears the content of the file and write content to the file

3. Append mode --> 'a'  : add content to the end of the file.

4. Create mode -->  'x'  : Create the file and return error if that file already exists.

In [14]:
f = open('firstFile.txt', 'w')
f.write("yeah!! you are learning python!!")
f.close()

In [21]:
f = open('firstFile.txt', 'a')
f.write("yeah!! you are learning python!!")
f.close()

In [22]:
f = open('firstFile.txt', 'a')
f.write("yeah!! you are learning python!! \n")
f.close()

if we add 't' or 'b' to the end of the second argument, we can specify whether we want to open the file as a text file or a binary file respectively.

example - open('this.txt', 'ab')  will open in append mode as binary

In [1]:
colors = ["red", "green", "burnt sienna", "blue"]
colors[2]

'burnt sienna'